In [2]:
import pandas as pd

df = pd.read_csv('./data/all_together_with_score.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
print(df.shape)

(22998, 16)

In [3]:
df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021/03/30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.548682
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021/03/30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,3.500000
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021/03/30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min,3.538055
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021/03/30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,3.478992

In [4]:
my_year=2020
my_duration_type = "min"
my_platform = "Netflix"

df_filtered = df[['id','title','release_year','duration_int', 'duration_type']]




if my_year!="all" or  my_duration_type!='all' or  my_platform!="all":
    
    if my_year!="all":
        cond_year = df_filtered['release_year']==int(my_year)
    if my_platform!="all":
        cond_platform = df_filtered['id'].str.startswith(my_platform.lower()[0])
    if my_duration_type!='all':
        cond_dur_type = df_filtered['duration_type']==my_duration_type


    # Estan todas las condiciones
    if my_year!="all" and  my_duration_type!='all' and  my_platform!="all":
        mask = cond_year & cond_dur_type & cond_platform
    # Se cumplen dos condiciones
    elif  my_year!="all" and  my_duration_type!='all':
        mask = cond_year & cond_dur_type        
    elif  my_year!="all" and  my_platform!="all":
        mask = cond_year & cond_platform
    elif  my_duration_type!='all' and  my_platform!="all":
        mask = cond_dur_type & cond_platform

    # Se cumple solo una condicion
    elif my_year!="all":
        mask = cond_year
    elif my_duration_type!='all':
        mask = cond_dur_type
    elif my_platform!="all":
        mask = cond_platform
df_filtered = df_filtered[mask]

df_filtered.sort_values(by='duration_int',ascending=False).head()

,id,title,release_year,duration_int,duration_type
16734,ns2544,unbreakable kimmy schmidt: kimmy vs. the reverend,2020,190,min
15843,ns1653,andhaghaaram,2020,171,min
15844,ns1654,andhakaaram,2020,171,min
17064,ns2874,ala vaikunthapurramuloo,2020,162,min
17031,ns2841,angu vaikuntapurathu (malayalam),2020,162,min

In [5]:

def get_max_duration(year='all', platform='all', duration_type='all'):

    """
        Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN.
    """
    
    df_filtered = df[['id','title','release_year','duration_int', 'duration_type']]
    if my_year!="all" or  my_duration_type!='all' or  my_platform!="all":
    
        if my_year!="all":
            cond_year = df_filtered['release_year']==int(my_year)
        if my_platform!="all":
            cond_platform = df_filtered['id'].str.startswith(my_platform.lower()[0])
        if my_duration_type!='all':
            cond_dur_type = df_filtered['duration_type']==my_duration_type


        # Estan todas las condiciones
        if my_year!="all" and  my_duration_type!='all' and  my_platform!="all":
            mask = cond_year & cond_dur_type & cond_platform
        # Se cumplen dos condiciones
        elif  my_year!="all" and  my_duration_type!='all':
            mask = cond_year & cond_dur_type        
        elif  my_year!="all" and  my_platform!="all":
            mask = cond_year & cond_platform
        elif  my_duration_type!='all' and  my_platform!="all":
            mask = cond_dur_type & cond_platform

        # Se cumple solo una condicion
        elif my_year!="all":
            mask = cond_year
        elif my_duration_type!='all':
            mask = cond_dur_type
        elif my_platform!="all":
            mask = cond_platform
    
    # Aplico todos los filtros
    df_filtered = df_filtered[mask]

    # ordeno, y me quedo con el mas grande
    result = None
    if df_filtered.shape[0]>0:
        result = df_filtered.sort_values(by='duration_int',ascending=False).head(1).title.values[0]   
    return result

In [9]:
my_year=2019
my_duration_type = "min"
my_platform = "Hulu"
res = get_max_duration(my_year, my_platform, my_duration_type)
res

'the traitor'

---

In [10]:
#  2) Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año
#  (la función debe llamarse get_score_count(platform, scored, year))

def get_score_count(platform, scored, year):
    """
        Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año
    """

    df_filtered = df[['id','release_year', 'score']]

    cond_platform = df_filtered['id'].str.startswith(platform.lower()[0])
    cond_year = df_filtered['release_year']==year
    cond_score = df_filtered['score']>scored
    mask = cond_platform & cond_year & cond_score    
    amount = df_filtered[mask].shape[0]
    # print("Amount --> ", amount)

    return amount

In [16]:
my_year=2020
my_score = 3.52
my_platform = "Hulu"
get_score_count(my_platform, my_score, my_year)

242

---

In [17]:
# 3) Cantidad de películas por plataforma con filtro de PLATAFORMA. 
# #  (La función debe llamarse get_count_platform(platform))

def get_count_platform(platform):
    """
        Cantidad de películas por plataforma con filtro de PLATAFORMA
    """
    df_filtered = df[['id']]
    cond_platform = df_filtered['id'].str.startswith(platform.lower()[0])
    amount = df_filtered[cond_platform].shape[0]
    print(amount)
    return amount

In [19]:
n_netflix = get_count_platform("Netflix")
n_amazon = get_count_platform("Amazon")
n_disney = get_count_platform("Disney")
n_hulu = get_count_platform("Hulu")

8807
9668
1450
3073

---

In [22]:
#  4) Actor que más se repite según plataforma y año. 
# (La función debe llamarse get_actor(platform, year))

def get_actor(platform, year):
    """ 
        Actor que más se repite según plataforma y año. 
    """

    df_filtered = df[['id',"release_year", "cast"]]

    cond_platform = df_filtered['id'].str.startswith(platform.lower()[0])
    cond_year = df_filtered['release_year']==year
    mask = cond_platform & cond_year
    df_filtered = df_filtered[mask]

    df_filtered = df_filtered.query('cast != "unknown cast"')

    # separamos cada actor en su propia fila
    df_cast = df_filtered['cast'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).to_frame('cast')

    # Contar la cantidad de ocurrencias de cada actor
    count_cast = df_cast['cast'].value_counts()
    
    # Seleccionar el actor con la mayor cantidad de ocurrencias
    most_common_cast = count_cast.idxmax()

    print("El actor que más se repite es:", most_common_cast)

    return most_common_cast

In [24]:
my_platform = "Netflix"
my_year = 2019
get_actor(my_platform, my_year)

El actor que más se repite es: vincent tong

'vincent tong'